n8n_workflow_5.json
{
  "name": "JIL PACK - Escalade Tickets SAV",
  "nodes": [
    {
      "id": "ffb7b953-1e8f-4f10-adee-90cfc221255e",
      "name": "Schedule (quotidien 10h)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        300
      ],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "days",
              "minutesInterval": 1440
            }
          ]
        },
        "activation": {
          "hour": 10,
          "minute": 0
        }
      }
    },
    {
      "id": "0b1346c0-b9d3-4588-9f70-0fe4612f2cfb",
      "name": "Chercher tickets ouverts",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        280,
        300
      ],
      "parameters": {
        "method": "GET",
        "url": "https://essorjnuwhqxvyunizzo.supabase.co/rest/v1/support_tickets",
        "authentication": "none",
        "options": {
          "headers": {
            "apikey": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImVzc29yam51d2hxeHZ5dW5penpvIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4MjgxMDczOSwiZXhwIjoyMDk4Mzg2NzM5fQ.9b_BNzaqUVYoBnYhn-yBjxrhWfSOwWhX-GEoLB7SUbY",
            "Authorization": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImVzc29yam51d2hxeHZ5dW5penpvIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4MjgxMDczOSwiZXhwIjoyMDk4Mzg2NzM5fQ.9b_BNzaqUVYoBnYhn-yBjxrhWfSOwWhX-GEoLB7SUbY",
            "Prefer": "return=representation"
          }
        },
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "status",
              "value": "=in.(ouvert,en_cours,attente)"
            },
            {
              "name": "select",
              "value": "id,ticket_number,subject,status,priority,client_name,created_at"
            },
            {
              "name": "order",
              "value": "priority.desc,created_at.asc"
            }
          ]
        }
      }
    },
    {
      "id": "1a6f24d5-fc3c-4588-b296-a85440e3c9b5",
      "name": "Tickets ouverts ?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        560,
        300
      ],
      "parameters": {
        "conditions": {
          "options": {},
          "conditions": [
            {
              "id": "0",
              "leftValue": "={{ $json.length }}",
              "rightValue": "0",
              "operator": {
                "type": "number",
                "version": 1
              }
            }
          ]
        }
      }
    },
    {
      "id": "d5ab7463-b6c8-45fd-a2c4-93a0bae73578",
      "name": "Evaluer priorite et delai",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        840,
        200
      ],
      "parameters": {
        "jsCode": "const tickets = $input.all();\nconst now = $now;\nconst labels = ['Low','Medium','High','Urgent'];\nconst results = [];\nfor (const t of tickets) {\n  const created = $moment(t.json.created_at);\n  const daysOpen = now.diff(created, 'days');\n  const priority = parseInt(t.json.priority) || 1;\n  let escalate = false, reason = '';\n  if (priority >= 3 && daysOpen >= 2) { escalate = true; reason = 'Urgent non traite depuis ' + daysOpen + ' jours'; }\n  else if (priority >= 2 && daysOpen >= 4) { escalate = true; reason = 'Haute priorite non traitee depuis ' + daysOpen + ' jours'; }\n  else if (daysOpen >= 7) { escalate = true; reason = 'Ticket ouvert depuis ' + daysOpen + ' jours sans resolution'; }\n  if (escalate) {\n    results.push({ json: { ...t.json, days_open: daysOpen, priority_label: labels[priority] || 'Medium', escalation_reason: reason } });\n  }\n}\nreturn results.length > 0 ? results : [{ json: { empty: true } }];"
      }
    },
    {
      "id": "462bb802-48a1-468d-81c1-8bd6d2e6a3d8",
      "name": "Escalade necessaire ?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1120,
        200
      ],
      "parameters": {
        "conditions": {
          "options": {},
          "conditions": [
            {
              "id": "0",
              "leftValue": "={{ $json.empty }}",
              "rightValue": "true",
              "operator": {
                "type": "boolean",
                "version": 1
              }
            }
          ]
        }
      }
    },
    {
      "id": "7ccd54fb-3204-4b36-ac6b-a5f9c57a7e82",
      "name": "Pour chaque ticket",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 2,
      "position": [
        1400,
        100
      ],
      "parameters": {
        "batchSize": 1,
        "options": {}
      }
    },
    {
      "id": "19ef6954-d475-4a5e-8ab4-3c9d0b7c06b6",
      "name": "Marquer escalade",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1680,
        100
      ],
      "parameters": {
        "method": "PATCH",
        "url": "https://essorjnuwhqxvyunizzo.supabase.co/rest/v1/support_tickets?id=eq.{{ $json.id }}",
        "authentication": "none",
        "options": {
          "headers": {
            "apikey": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImVzc29yam51d2hxeHZ5dW5penpvIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4MjgxMDczOSwiZXhwIjoyMDk4Mzg2NzM5fQ.9b_BNzaqUVYoBnYhn-yBjxrhWfSOwWhX-GEoLB7SUbY",
            "Authorization": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImVzc29yam51d2hxeHZ5dW5penpvIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4MjgxMDczOSwiZXhwIjoyMDk4Mzg2NzM5fQ.9b_BNzaqUVYoBnYhn-yBjxrhWfSOwWhX-GEoLB7SUbY",
            "Prefer": "return=representation"
          }
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "notes",
              "value": "={{ '[ESCALADE] ' + $json.escalation_reason }}"
            }
          ]
        }
      }
    },
    {
      "id": "9c3e9014-7047-4733-b896-0e8d26c9714b",
      "name": "Notifier escalation",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1960,
        100
      ],
      "parameters": {
        "method": "POST",
        "url": "https://ctofjilpack.app.n8n.cloud/webhook/jilpack-machmouch",
        "authentication": "none",
        "options": {
          "headers": {
            "apikey": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImVzc29yam51d2hxeHZ5dW5penpvIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4MjgxMDczOSwiZXhwIjoyMDk4Mzg2NzM5fQ.9b_BNzaqUVYoBnYhn-yBjxrhWfSOwWhX-GEoLB7SUbY",
            "Authorization": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImVzc29yam51d2hxeHZ5dW5penpvIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4MjgxMDczOSwiZXhwIjoyMDk4Mzg2NzM5fQ.9b_BNzaqUVYoBnYhn-yBjxrhWfSOwWhX-GEoLB7SUbY",
            "Prefer": "return=representation"
          }
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "type",
              "value": "escalade_sav"
            },
            {
              "name": "ticket",
              "value": "={{ $json.ticket_number }}"
            },
            {
              "name": "subject",
              "value": "={{ $json.subject }}"
            },
            {
              "name": "client",
              "value": "={{ $json.client_name }}"
            },
            {
              "name": "priority",
              "value": "={{ $json.priority_label }}"
            },
            {
              "name": "days_open",
              "value": "={{ $json.days_open }}"
            },
            {
              "name": "reason",
              "value": "={{ $json.escalation_reason }}"
            },
            {
              "name": "message",
              "value": "={{ 'ESCALADE ' + $json.priority_label + ' - Ticket ' + $json.ticket_number + ' (' + $json.subject + ') - ' + $json.client_name + ' - ' + $json.escalation_reason }}"
            }
          ]
        }
      }
    },
    {
      "id": "4ee9054e-c3a4-4d2d-b2cc-40ba9c342211",
      "name": "Fin",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        2240,
        100
      ],
      "parameters": {}
    },
    {
      "id": "e5517461-8987-4193-90d0-fec3024a4ef3",
      "name": "Aucun probleme",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1400,
        350
      ],
      "parameters": {}
    }
  ],
  "connections": {
    "Schedule (quotidien 10h)": {
      "main": [
        [
          {
            "node": "Chercher tickets ouverts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Chercher tickets ouverts": {
      "main": [
        [
          {
            "node": "Tickets ouverts ?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tickets ouverts ?": {
      "main": [
        [
          {
            "node": "Evaluer priorite et delai",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Aucun probleme",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Evaluer priorite et delai": {
      "main": [
        [
          {
            "node": "Escalade necessaire ?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Escalade necessaire ?": {
      "main": [
        [
          {
            "node": "Pour chaque ticket",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Aucun probleme",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pour chaque ticket": {
      "main": [
        [
          {
            "node": "Marquer escalade",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Marquer escalade": {
      "main": [
        [
          {
            "node": "Notifier escalation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notifier escalation": {
      "main": [
        [
          {
            "node": "Fin",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {},
  "pinData": {},
  "versionId": "1",
  "active": false
}