n8n_workflow_1.json
{
  "name": "JIL PACK - Cycle Devis Commande Facture",
  "nodes": [
    {
      "id": "e3a262c3-ea7c-46cf-80ed-f4b41035945b",
      "name": "Webhook - Devis Accepte",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 4.2,
      "position": [
        0,
        300
      ],
      "parameters": {
        "httpMethod": "POST",
        "path": "jilpack-quote-accepted",
        "responseMode": "onReceived",
        "responseData": "allEntries",
        "options": {}
      }
    },
    {
      "id": "2cff2e3a-aaea-4180-ba83-b2c17cd045b9",
      "name": "Statut = accepte ?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        280,
        300
      ],
      "parameters": {
        "conditions": {
          "options": {},
          "conditions": [
            {
              "id": "0",
              "leftValue": "={{ $json.body.status }}",
              "rightValue": "accepte",
              "operator": {
                "type": "string",
                "version": 1
              }
            }
          ]
        }
      }
    },
    {
      "id": "b318c08b-bc41-41a8-92c5-13697de266a5",
      "name": "Preparer donnees",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [
        560,
        200
      ],
      "parameters": {
        "values": {
          "string": [
            {
              "name": "order_number",
              "value": "={{ 'BC-' + $now.format('yyyyMMdd') + '-' + $randomInt(100,999) }}"
            },
            {
              "name": "client_id",
              "value": "={{ $json.body.client_supabase_id }}"
            },
            {
              "name": "client_name",
              "value": "={{ $json.body.client_name }}"
            },
            {
              "name": "quote_id",
              "value": "={{ $json.body.supabase_id }}"
            },
            {
              "name": "status",
              "value": "confirmee"
            },
            {
              "name": "total_ht",
              "value": "={{ $json.body.total_ht }}"
            },
            {
              "name": "total_ttc",
              "value": "={{ $json.body.total_ttc }}"
            },
            {
              "name": "tax_rate",
              "value": "={{ $json.body.tax_rate || 20 }}"
            },
            {
              "name": "quote_number",
              "value": "={{ $json.body.quote_number }}"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "5707c9f5-6c9e-419d-b99d-2b37e6b5a02d",
      "name": "Creer Commande",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        840,
        200
      ],
      "parameters": {
        "method": "POST",
        "url": "https://essorjnuwhqxvyunizzo.supabase.co/rest/v1/orders",
        "authentication": "none",
        "options": {
          "headers": {
            "apikey": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImVzc29yam51d2hxeHZ5dW5penpvIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4MjgxMDczOSwiZXhwIjoyMDk4Mzg2NzM5fQ.9b_BNzaqUVYoBnYhn-yBjxrhWfSOwWhX-GEoLB7SUbY",
            "Authorization": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImVzc29yam51d2hxeHZ5dW5penpvIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4MjgxMDczOSwiZXhwIjoyMDk4Mzg2NzM5fQ.9b_BNzaqUVYoBnYhn-yBjxrhWfSOwWhX-GEoLB7SUbY",
            "Prefer": "return=representation"
          }
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "order_number",
              "value": "={{ $json.order_number }}"
            },
            {
              "name": "client_id",
              "value": "={{ $json.client_id }}"
            },
            {
              "name": "client_name",
              "value": "={{ $json.client_name }}"
            },
            {
              "name": "quote_id",
              "value": "={{ $json.quote_id }}"
            },
            {
              "name": "status",
              "value": "confirmee"
            },
            {
              "name": "total_ht",
              "value": "={{ $json.total_ht }}"
            },
            {
              "name": "total_ttc",
              "value": "={{ $json.total_ttc }}"
            },
            {
              "name": "tax_rate",
              "value": "={{ $json.tax_rate }}"
            }
          ]
        }
      }
    },
    {
      "id": "7801f620-9639-41c7-b2bb-a06b50a31383",
      "name": "Creer lignes commande",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1120,
        200
      ],
      "parameters": {
        "jsCode": "const orderData = $input.first().json;\nconst items = $('Webhook - Devis Accepte').first().json.body.items || [];\nconst orderId = orderData.id || (orderData[0] && orderData[0].id);\nconst results = [];\nfor (const item of items) {\n  const res = await $http.send({\n    method: 'POST',\n    url: 'https://essorjnuwhqxvyunizzo.supabase.co/rest/v1/order_items',\n    headers: { 'apikey': 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImVzc29yam51d2hxeHZ5dW5penpvIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4MjgxMDczOSwiZXhwIjoyMDk4Mzg2NzM5fQ.9b_BNzaqUVYoBnYhn-yBjxrhWfSOwWhX-GEoLB7SUbY', 'Authorization': 'Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImVzc29yam51d2hxeHZ5dW5penpvIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4MjgxMDczOSwiZXhwIjoyMDk4Mzg2NzM5fQ.9b_BNzaqUVYoBnYhn-yBjxrhWfSOwWhX-GEoLB7SUbY', 'Content-Type': 'application/json', 'Prefer': 'return=representation' },\n    body: { order_id: orderId, product_reference: item.product_reference || '', description: item.description || '', quantity: item.quantity || 1, unit_price: item.unit_price || 0, total: item.total || 0 }\n  });\n  results.push(res.data);\n}\nreturn results;"
      }
    },
    {
      "id": "77f2a022-5cd8-435e-ac13-055bc1c98d50",
      "name": "Commande OK ?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1400,
        200
      ],
      "parameters": {
        "conditions": {
          "options": {},
          "conditions": [
            {
              "id": "0",
              "leftValue": "={{ $json.length }}",
              "rightValue": "0",
              "operator": {
                "type": "number",
                "version": 1
              }
            }
          ]
        }
      }
    },
    {
      "id": "1706c55a-83b0-4c7e-8a76-855d4858df80",
      "name": "Creer Facture",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1680,
        100
      ],
      "parameters": {
        "method": "POST",
        "url": "https://essorjnuwhqxvyunizzo.supabase.co/rest/v1/invoices",
        "authentication": "none",
        "options": {
          "headers": {
            "apikey": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImVzc29yam51d2hxeHZ5dW5penpvIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4MjgxMDczOSwiZXhwIjoyMDk4Mzg2NzM5fQ.9b_BNzaqUVYoBnYhn-yBjxrhWfSOwWhX-GEoLB7SUbY",
            "Authorization": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImVzc29yam51d2hxeHZ5dW5penpvIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4MjgxMDczOSwiZXhwIjoyMDk4Mzg2NzM5fQ.9b_BNzaqUVYoBnYhn-yBjxrhWfSOwWhX-GEoLB7SUbY",
            "Prefer": "return=representation"
          }
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "invoice_number",
              "value": "={{ 'FAC-' + $now.format('yyyyMMdd') + '-' + $randomInt(100,999) }}"
            },
            {
              "name": "client_id",
              "value": "={{ $('Preparer donnees').first().json.client_id }}"
            },
            {
              "name": "client_name",
              "value": "={{ $('Preparer donnees').first().json.client_name }}"
            },
            {
              "name": "order_id",
              "value": "={{ $('Creer Commande').first().json.id }}"
            },
            {
              "name": "status",
              "value": "emise"
            },
            {
              "name": "total_ht",
              "value": "={{ $('Preparer donnees').first().json.total_ht }}"
            },
            {
              "name": "total_ttc",
              "value": "={{ $('Preparer donnees').first().json.total_ttc }}"
            },
            {
              "name": "tax_rate",
              "value": "={{ $('Preparer donnees').first().json.tax_rate }}"
            },
            {
              "name": "due_date",
              "value": "={{ $now.plus(30, 'days').format('yyyy-MM-dd') }}"
            }
          ]
        }
      }
    },
    {
      "id": "e03ef7e8-a7a6-4e63-9f98-9199a6f8561c",
      "name": "Notifier succes",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1960,
        100
      ],
      "parameters": {
        "method": "POST",
        "url": "https://ctofjilpack.app.n8n.cloud/webhook/jilpack-machmouch",
        "authentication": "none",
        "options": {
          "headers": {
            "apikey": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImVzc29yam51d2hxeHZ5dW5penpvIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4MjgxMDczOSwiZXhwIjoyMDk4Mzg2NzM5fQ.9b_BNzaqUVYoBnYhn-yBjxrhWfSOwWhX-GEoLB7SUbY",
            "Authorization": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImVzc29yam51d2hxeHZ5dW5penpvIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4MjgxMDczOSwiZXhwIjoyMDk4Mzg2NzM5fQ.9b_BNzaqUVYoBnYhn-yBjxrhWfSOwWhX-GEoLB7SUbY",
            "Prefer": "return=representation"
          }
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "type",
              "value": "workflow_done"
            },
            {
              "name": "message",
              "value": "={{ 'Devis ' + $('Preparer donnees').first().json.quote_number + ' -> Commande + Facture crees'}}"
            },
            {
              "name": "client",
              "value": "={{ $('Preparer donnees').first().json.client_name }}"
            },
            {
              "name": "total_ttc",
              "value": "={{ $('Preparer donnees').first().json.total_ttc }}"
            }
          ]
        }
      }
    },
    {
      "id": "a0548cc0-e350-453a-9c9b-8845658f6f7e",
      "name": "Notifier erreur",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1960,
        350
      ],
      "parameters": {
        "method": "POST",
        "url": "https://ctofjilpack.app.n8n.cloud/webhook/jilpack-machmouch",
        "authentication": "none",
        "options": {
          "headers": {
            "apikey": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImVzc29yam51d2hxeHZ5dW5penpvIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4MjgxMDczOSwiZXhwIjoyMDk4Mzg2NzM5fQ.9b_BNzaqUVYoBnYhn-yBjxrhWfSOwWhX-GEoLB7SUbY",
            "Authorization": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImVzc29yam51d2hxeHZ5dW5penpvIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4MjgxMDczOSwiZXhwIjoyMDk4Mzg2NzM5fQ.9b_BNzaqUVYoBnYhn-yBjxrhWfSOwWhX-GEoLB7SUbY",
            "Prefer": "return=representation"
          }
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "type",
              "value": "workflow_error"
            },
            {
              "name": "message",
              "value": "={{ 'Erreur workflow pour ' + $('Preparer donnees').first().json.quote_number }}"
            }
          ]
        }
      }
    },
    {
      "id": "e271e5f4-7c7a-4466-a471-479f9fd48d3a",
      "name": "Fin",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        2240,
        250
      ],
      "parameters": {}
    }
  ],
  "connections": {
    "Webhook - Devis Accepte": {
      "main": [
        [
          {
            "node": "Statut = accepte ?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Statut = accepte ?": {
      "main": [
        [
          {
            "node": "Preparer donnees",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Fin",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparer donnees": {
      "main": [
        [
          {
            "node": "Creer Commande",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Creer Commande": {
      "main": [
        [
          {
            "node": "Creer lignes commande",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Creer lignes commande": {
      "main": [
        [
          {
            "node": "Commande OK ?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Commande OK ?": {
      "main": [
        [
          {
            "node": "Creer Facture",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Notifier erreur",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Creer Facture": {
      "main": [
        [
          {
            "node": "Notifier succes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notifier succes": {
      "main": [
        [
          {
            "node": "Fin",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notifier erreur": {
      "main": [
        [
          {
            "node": "Fin",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {},
  "pinData": {},
  "versionId": "1",
  "active": false
}