n8n_workflow_6.json
{
  "name": "JIL PACK - Gestion Reclamations SAV",
  "nodes": [
    {
      "id": "w6-trigger",
      "name": "Webhook - Reclamation",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [0, 300],
      "parameters": {
        "httpMethod": "POST",
        "path": "jilpack-claim",
        "responseMode": "onReceived",
        "responseData": "allEntries",
        "options": {}
      }
    },
    {
      "id": "w6-decide",
      "name": "Decision ?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [280, 300],
      "parameters": {
        "conditions": {
          "options": {},
          "conditions": [
            {
              "id": "0",
              "leftValue": "={{ $json.body.status }}",
              "rightValue": "acceptee",
              "operator": { "type": "string", "version": 1 }
            }
          ]
        }
      }
    },
    {
      "id": "w6-accepted",
      "name": "Preparer Retour",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [560, 150],
      "parameters": {
        "values": {
          "string": [
            { "name": "transport_number", "value": "={{ 'TRP-' + $now.format('yyyyMMdd') + '-' + $randomInt(100,999) }}" },
            { "name": "client_name", "value": "={{ $json.body.client_name }}" },
            { "name": "mode", "value": "routier" },
            { "name": "status", "value": "planifie" },
            { "name": "notes", "value": "={{ 'Retour SAV - Reclamation ' + $json.body.claim_number }}" }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "w6-create-transport",
      "name": "Creer Transport retour",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [840, 150],
      "parameters": {
        "method": "POST",
        "url": "https://essorjnuwhqxvyunizzo.supabase.co/rest/v1/transports",
        "authentication": "none",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            { "name": "transport_number", "value": "={{ $json.transport_number }}" },
            { "name": "client_name", "value": "={{ $json.client_name }}" },
            { "name": "mode", "value": "routier" },
            { "name": "status", "value": "planifie" },
            { "name": "notes", "value": "={{ $json.notes }}" },
            { "name": "claim_id", "value": "={{ $json.body.supabase_id }}" }
          ]
        },
        "options": {
          "headers": {
            "apikey": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImVzc29yam51d2hxeHZ5dW5penpvIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4MjgxMDczOSwiZXhwIjoyMDk4Mzg2NzM5fQ.9b_BNzaqUVYoBnYhn-yBjxrhWfSOwWhX-GEoLB7SUbY",
            "Authorization": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImVzc29yam51d2hxeHZ5dW5penpvIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4MjgxMDczOSwiZXhwIjoyMDk4Mzg2NzM5fQ.9b_BNzaqUVYoBnYhn-yBjxrhWfSOwWhX-GEoLB7SUbY",
            "Prefer": "return=representation"
          }
        }
      }
    },
    {
      "id": "w6-create-stock-move",
      "name": "Creer Mouvement Stock sortie",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1120, 150],
      "parameters": {
        "method": "POST",
        "url": "https://essorjnuwhqxvyunizzo.supabase.co/rest/v1/stock_movements",
        "authentication": "none",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            { "name": "reference", "value": "={{ 'MOV-' + $now.format('yyyyMMdd') + '-' + $randomInt(100,999) }}" },
            { "name": "movement_type", "value": "sortie" },
            { "name": "quantity", "value": "={{ $json.body.quantity || 0 }}" },
            { "name": "notes", "value": "={{ 'Retour SAV - Reclamation ' + $json.body.claim_number }}" },
            { "name": "status", "value": "a_traiter" }
          ]
        },
        "options": {
          "headers": {
            "apikey": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImVzc29yam51d2hxeHZ5dW5penpvIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4MjgxMDczOSwiZXhwIjoyMDk4Mzg2NzM5fQ.9b_BNzaqUVYoBnYhn-yBjxrhWfSOwWhX-GEoLB7SUbY",
            "Authorization": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImVzc29yam51d2hxeHZ5dW5penpvIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4MjgxMDczOSwiZXhwIjoyMDk4Mzg2NzM5fQ.9b_BNzaqUVYoBnYhn-yBjxrhWfSOwWhX-GEoLB7SUbY",
            "Prefer": "return=representation"
          }
        }
      }
    },
    {
      "id": "w6-notify-accepted",
      "name": "Notifier retour SAV",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1400, 150],
      "parameters": {
        "method": "POST",
        "url": "https://ctofjilpack.app.n8n.cloud/webhook/jilpack-machmouch",
        "authentication": "none",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            { "name": "type", "value": "retour_sav" },
            { "name": "claim", "value": "={{ $json.body.claim_number }}" },
            { "name": "client", "value": "={{ $json.body.client_name }}" },
            { "name": "transport", "value": "={{ $('Creer Transport retour').first().json.transport_number }}" },
            { "name": "message", "value": "={{ 'Retour SAV cree - Reclamation ' + $json.body.claim_number + ' - ' + $json.body.client_name + ' - Transport planifie' }}" }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "w6-refused",
      "name": "Notifier refus",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [560, 450],
      "parameters": {
        "method": "POST",
        "url": "https://ctofjilpack.app.n8n.cloud/webhook/jilpack-machmouch",
        "authentication": "none",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            { "name": "type", "value": "refus_sav" },
            { "name": "claim", "value": "={{ $json.body.claim_number }}" },
            { "name": "client", "value": "={{ $json.body.client_name }}" },
            { "name": "message", "value": "={{ 'Reclamation refusee - ' + $json.body.claim_number + ' - ' + $json.body.client_name }}" }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "w6-noop-end",
      "name": "Fin",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [1680, 250],
      "parameters": {}
    }
  ],
  "connections": {
    "Webhook - Reclamation": {
      "main": [[{ "node": "Decision ?", "type": "main", "index": 0 }]]
    },
    "Decision ?": {
      "main": [
        [{ "node": "Preparer Retour", "type": "main", "index": 0 }],
        [{ "node": "Notifier refus", "type": "main", "index": 0 }]
      ]
    },
    "Preparer Retour": {
      "main": [[{ "node": "Creer Transport retour", "type": "main", "index": 0 }]]
    },
    "Creer Transport retour": {
      "main": [[{ "node": "Creer Mouvement Stock sortie", "type": "main", "index": 0 }]]
    },
    "Creer Mouvement Stock sortie": {
      "main": [[{ "node": "Notifier retour SAV", "type": "main", "index": 0 }]]
    },
    "Notifier retour SAV": {
      "main": [[{ "node": "Fin", "type": "main", "index": 0 }]]
    },
    "Notifier refus": {
      "main": [[{ "node": "Fin", "type": "main", "index": 0 }]]
    }
  },
  "pinData": {},
  "versionId": "1",
  "active": false,
  "settings": {}
}