n8n_workflow_3.json
{
  "name": "JIL PACK - Alertes Stock Minimum",
  "nodes": [
    {
      "id": "fd20a227-f1a0-48e0-8248-6064ca8d249c",
      "name": "Schedule (quotidien 7h)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        300
      ],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "days",
              "minutesInterval": 1440
            }
          ]
        },
        "activation": {
          "hour": 7,
          "minute": 0
        }
      }
    },
    {
      "id": "2a0e9308-7210-4859-993c-8594a3c72620",
      "name": "Chercher produits",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        280,
        300
      ],
      "parameters": {
        "method": "GET",
        "url": "https://essorjnuwhqxvyunizzo.supabase.co/rest/v1/products?select=reference,name,stock_qty,stock_min,category,unit",
        "authentication": "none",
        "options": {
          "headers": {
            "apikey": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImVzc29yam51d2hxeHZ5dW5penpvIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4MjgxMDczOSwiZXhwIjoyMDk4Mzg2NzM5fQ.9b_BNzaqUVYoBnYhn-yBjxrhWfSOwWhX-GEoLB7SUbY",
            "Authorization": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImVzc29yam51d2hxeHZ5dW5penpvIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4MjgxMDczOSwiZXhwIjoyMDk4Mzg2NzM5fQ.9b_BNzaqUVYoBnYhn-yBjxrhWfSOwWhX-GEoLB7SUbY",
            "Prefer": "return=representation"
          }
        }
      }
    },
    {
      "id": "08cc56ac-5b25-428f-98c2-aba471cd2f42",
      "name": "Filtrer stock bas",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        560,
        300
      ],
      "parameters": {
        "jsCode": "const products = $input.all();\nconst lowStock = products.filter(p => {\n  const qty = parseFloat(p.json.stock_qty) || 0;\n  const min = parseFloat(p.json.stock_min) || 10;\n  return qty < min;\n});\nreturn lowStock.length > 0 ? lowStock : [{ json: { empty: true } }];"
      }
    },
    {
      "id": "4fd7f689-4383-4b95-8f4c-0d56fcadb98f",
      "name": "Stock bas detecte ?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        840,
        300
      ],
      "parameters": {
        "conditions": {
          "options": {},
          "conditions": [
            {
              "id": "0",
              "leftValue": "={{ $json.empty }}",
              "rightValue": "true",
              "operator": {
                "type": "boolean",
                "version": 1
              }
            }
          ]
        }
      }
    },
    {
      "id": "1e1b9652-a907-4f91-b960-33dd1d79e579",
      "name": "Pour chaque alerte",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 2,
      "position": [
        1120,
        200
      ],
      "parameters": {
        "batchSize": 1,
        "options": {}
      }
    },
    {
      "id": "a5d055f1-5e05-40c9-8709-17cdf77cfdc2",
      "name": "Creer mouvement stock",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1400,
        200
      ],
      "parameters": {
        "method": "POST",
        "url": "https://essorjnuwhqxvyunizzo.supabase.co/rest/v1/stock_movements",
        "authentication": "none",
        "options": {
          "headers": {
            "apikey": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImVzc29yam51d2hxeHZ5dW5penpvIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4MjgxMDczOSwiZXhwIjoyMDk4Mzg2NzM5fQ.9b_BNzaqUVYoBnYhn-yBjxrhWfSOwWhX-GEoLB7SUbY",
            "Authorization": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImVzc29yam51d2hxeHZ5dW5penpvIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4MjgxMDczOSwiZXhwIjoyMDk4Mzg2NzM5fQ.9b_BNzaqUVYoBnYhn-yBjxrhWfSOwWhX-GEoLB7SUbY",
            "Prefer": "return=representation"
          }
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "product_reference",
              "value": "={{ $json.reference }}"
            },
            {
              "name": "product_name",
              "value": "={{ $json.name }}"
            },
            {
              "name": "type",
              "value": "alerte_stock"
            },
            {
              "name": "quantity",
              "value": "={{ $json.stock_qty }}"
            },
            {
              "name": "notes",
              "value": "={{ 'Stock bas: ' + $json.stock_qty + ' / seuil min: ' + $json.stock_min }}"
            },
            {
              "name": "status",
              "value": "a_traiter"
            },
            {
              "name": "created_at",
              "value": "={{ $now.format('yyyy-MM-dd') }}"
            }
          ]
        }
      }
    },
    {
      "id": "6b591e42-9169-4cfe-92cd-cbef8b9b0390",
      "name": "Notifier alerte",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1680,
        200
      ],
      "parameters": {
        "method": "POST",
        "url": "https://ctofjilpack.app.n8n.cloud/webhook/jilpack-machmouch",
        "authentication": "none",
        "options": {
          "headers": {
            "apikey": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImVzc29yam51d2hxeHZ5dW5penpvIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4MjgxMDczOSwiZXhwIjoyMDk4Mzg2NzM5fQ.9b_BNzaqUVYoBnYhn-yBjxrhWfSOwWhX-GEoLB7SUbY",
            "Authorization": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImVzc29yam51d2hxeHZ5dW5penpvIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4MjgxMDczOSwiZXhwIjoyMDk4Mzg2NzM5fQ.9b_BNzaqUVYoBnYhn-yBjxrhWfSOwWhX-GEoLB7SUbY",
            "Prefer": "return=representation"
          }
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "type",
              "value": "alerte_stock"
            },
            {
              "name": "product",
              "value": "={{ $json.name }}"
            },
            {
              "name": "reference",
              "value": "={{ $json.reference }}"
            },
            {
              "name": "stock_qty",
              "value": "={{ $json.stock_qty }}"
            },
            {
              "name": "stock_min",
              "value": "={{ $json.stock_min }}"
            },
            {
              "name": "message",
              "value": "={{ 'Stock bas: ' + $json.name + ' (' + $json.reference + ') - Restant: ' + $json.stock_qty + ' / Seuil: ' + $json.stock_min }}"
            }
          ]
        }
      }
    },
    {
      "id": "db40b103-7057-45ae-8d7b-aba838d429db",
      "name": "Fin",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1960,
        200
      ],
      "parameters": {}
    },
    {
      "id": "450979e0-063c-4b7f-ab85-683834c9ae27",
      "name": "Tout en stock",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1120,
        400
      ],
      "parameters": {}
    }
  ],
  "connections": {
    "Schedule (quotidien 7h)": {
      "main": [
        [
          {
            "node": "Chercher produits",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Chercher produits": {
      "main": [
        [
          {
            "node": "Filtrer stock bas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filtrer stock bas": {
      "main": [
        [
          {
            "node": "Stock bas detecte ?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Stock bas detecte ?": {
      "main": [
        [
          {
            "node": "Pour chaque alerte",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Tout en stock",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pour chaque alerte": {
      "main": [
        [
          {
            "node": "Creer mouvement stock",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Creer mouvement stock": {
      "main": [
        [
          {
            "node": "Notifier alerte",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notifier alerte": {
      "main": [
        [
          {
            "node": "Fin",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {},
  "pinData": {},
  "versionId": "1",
  "active": false
}