n8n_workflow_2.json
{
  "name": "JIL PACK - Recouvrement Factures Impayees",
  "nodes": [
    {
      "id": "85f2d1ab-0453-4e64-bcfd-36a04e4355fa",
      "name": "Schedule (quotidien 8h)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        300
      ],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "days",
              "minutesInterval": 1440
            }
          ]
        },
        "activation": {
          "hour": 8,
          "minute": 0
        }
      }
    },
    {
      "id": "1235d728-8b07-43d0-9208-4a0afe03943a",
      "name": "Chercher factures impayees",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        280,
        300
      ],
      "parameters": {
        "method": "GET",
        "url": "https://essorjnuwhqxvyunizzo.supabase.co/rest/v1/invoices",
        "authentication": "none",
        "options": {
          "headers": {
            "apikey": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImVzc29yam51d2hxeHZ5dW5penpvIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4MjgxMDczOSwiZXhwIjoyMDk4Mzg2NzM5fQ.9b_BNzaqUVYoBnYhn-yBjxrhWfSOwWhX-GEoLB7SUbY",
            "Authorization": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImVzc29yam51d2hxeHZ5dW5penpvIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4MjgxMDczOSwiZXhwIjoyMDk4Mzg2NzM5fQ.9b_BNzaqUVYoBnYhn-yBjxrhWfSOwWhX-GEoLB7SUbY",
            "Prefer": "return=representation"
          }
        },
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "status",
              "value": "=eq.emise"
            },
            {
              "name": "due_date",
              "value": "=lt.{{ $now.format('yyyy-MM-dd') }}"
            },
            {
              "name": "select",
              "value": "*"
            }
          ]
        }
      }
    },
    {
      "id": "22b005a0-924a-4a0f-ae61-66a1c1aa576a",
      "name": "Factures en retard ?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        560,
        300
      ],
      "parameters": {
        "conditions": {
          "options": {},
          "conditions": [
            {
              "id": "0",
              "leftValue": "={{ $json.length }}",
              "rightValue": "0",
              "operator": {
                "type": "number",
                "version": 1
              }
            }
          ]
        }
      }
    },
    {
      "id": "9fcf7d65-0411-46c8-9cca-82d0d5daf19c",
      "name": "Pour chaque facture",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 2,
      "position": [
        840,
        200
      ],
      "parameters": {
        "batchSize": 1,
        "options": {}
      }
    },
    {
      "id": "bf324e3f-e4ef-4d41-8318-d0924847bd7a",
      "name": "Creer recouvrement",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1120,
        200
      ],
      "parameters": {
        "method": "POST",
        "url": "https://essorjnuwhqxvyunizzo.supabase.co/rest/v1/recovery",
        "authentication": "none",
        "options": {
          "headers": {
            "apikey": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImVzc29yam51d2hxeHZ5dW5penpvIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4MjgxMDczOSwiZXhwIjoyMDk4Mzg2NzM5fQ.9b_BNzaqUVYoBnYhn-yBjxrhWfSOwWhX-GEoLB7SUbY",
            "Authorization": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImVzc29yam51d2hxeHZ5dW5penpvIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4MjgxMDczOSwiZXhwIjoyMDk4Mzg2NzM5fQ.9b_BNzaqUVYoBnYhn-yBjxrhWfSOwWhX-GEoLB7SUbY",
            "Prefer": "return=representation"
          }
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "invoice_id",
              "value": "={{ $json.id }}"
            },
            {
              "name": "invoice_number",
              "value": "={{ $json.invoice_number }}"
            },
            {
              "name": "client_id",
              "value": "={{ $json.client_id }}"
            },
            {
              "name": "client_name",
              "value": "={{ $json.client_name }}"
            },
            {
              "name": "amount_due",
              "value": "={{ $json.total_ttc }}"
            },
            {
              "name": "due_date",
              "value": "={{ $json.due_date }}"
            },
            {
              "name": "days_overdue",
              "value": "={{ $now.diff($moment($json.due_date), 'days').days }}"
            },
            {
              "name": "status",
              "value": "relance_1"
            },
            {
              "name": "created_at",
              "value": "={{ $now.format('yyyy-MM-dd') }}"
            }
          ]
        }
      }
    },
    {
      "id": "4c324894-36b0-4e34-ba33-8db40b05b735",
      "name": "Marquer facture recouvrement",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1400,
        200
      ],
      "parameters": {
        "method": "PATCH",
        "url": "https://essorjnuwhqxvyunizzo.supabase.co/rest/v1/invoices?id=eq.{{ $json.invoice_id }}",
        "authentication": "none",
        "options": {
          "headers": {
            "apikey": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImVzc29yam51d2hxeHZ5dW5penpvIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4MjgxMDczOSwiZXhwIjoyMDk4Mzg2NzM5fQ.9b_BNzaqUVYoBnYhn-yBjxrhWfSOwWhX-GEoLB7SUbY",
            "Authorization": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImVzc29yam51d2hxeHZ5dW5penpvIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4MjgxMDczOSwiZXhwIjoyMDk4Mzg2NzM5fQ.9b_BNzaqUVYoBnYhn-yBjxrhWfSOwWhX-GEoLB7SUbY",
            "Prefer": "return=representation"
          }
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "status",
              "value": "recouvrement"
            }
          ]
        }
      }
    },
    {
      "id": "0207c3fc-ed49-4cbb-92f6-1438bb99fa84",
      "name": "Notifier relance",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1680,
        200
      ],
      "parameters": {
        "method": "POST",
        "url": "https://ctofjilpack.app.n8n.cloud/webhook/jilpack-machmouch",
        "authentication": "none",
        "options": {
          "headers": {
            "apikey": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImVzc29yam51d2hxeHZ5dW5penpvIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4MjgxMDczOSwiZXhwIjoyMDk4Mzg2NzM5fQ.9b_BNzaqUVYoBnYhn-yBjxrhWfSOwWhX-GEoLB7SUbY",
            "Authorization": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImVzc29yam51d2hxeHZ5dW5penpvIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4MjgxMDczOSwiZXhwIjoyMDk4Mzg2NzM5fQ.9b_BNzaqUVYoBnYhn-yBjxrhWfSOwWhX-GEoLB7SUbY",
            "Prefer": "return=representation"
          }
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "type",
              "value": "recouvrement"
            },
            {
              "name": "client",
              "value": "={{ $json.client_name }}"
            },
            {
              "name": "invoice",
              "value": "={{ $json.invoice_number }}"
            },
            {
              "name": "amount",
              "value": "={{ $json.amount_due }}"
            },
            {
              "name": "days_overdue",
              "value": "={{ $json.days_overdue }}"
            },
            {
              "name": "message",
              "value": "={{ 'Relance ' + $json.client_name + ' - Facture ' + $json.invoice_number + ' : ' + $json.amount_due + ' MAD en retard de ' + $json.days_overdue + ' jours' }}"
            }
          ]
        }
      }
    },
    {
      "id": "4d7c6dad-dca1-45ad-a3b1-06446a3a90e6",
      "name": "Fin",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1960,
        200
      ],
      "parameters": {}
    },
    {
      "id": "7a461763-d33d-4e7b-ab4c-1d0ea63e7129",
      "name": "Aucune facture",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        840,
        400
      ],
      "parameters": {}
    }
  ],
  "connections": {
    "Schedule (quotidien 8h)": {
      "main": [
        [
          {
            "node": "Chercher factures impayees",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Chercher factures impayees": {
      "main": [
        [
          {
            "node": "Factures en retard ?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Factures en retard ?": {
      "main": [
        [
          {
            "node": "Pour chaque facture",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Aucune facture",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pour chaque facture": {
      "main": [
        [
          {
            "node": "Creer recouvrement",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Creer recouvrement": {
      "main": [
        [
          {
            "node": "Marquer facture recouvrement",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Marquer facture recouvrement": {
      "main": [
        [
          {
            "node": "Notifier relance",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notifier relance": {
      "main": [
        [
          {
            "node": "Fin",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {},
  "pinData": {},
  "versionId": "1",
  "active": false
}